/* src/assets/preloader.css */
#app:before {
    content: "";
    transform: translate(-50%, -50%);
    background: url('src/assets/landing-icon3.jpg') no-repeat center center;
    background-size: contain;
  }